@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TikTokFont';
  src:url('./assets/fonts/TikTokSans/TikTokText-Regular.otf') format('opentype'),
      url('./assets/fonts/TikTokSans/TikTokText-Medium.otf') format('opentype'),
      url('./assets/fonts/TikTokSans/TikTokText-Bold.otf') format('opentype'),
      url('./assets/fonts/TikTokSans/TikTokDisplay-Regular.otf') format('opentype'),
      url('./assets/fonts/TikTokSans/TikTokDisplay-Medium.otf') format('opentype'),
      url('./assets/fonts/TikTokSans/TikTokDisplay-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
.root, html, body {
  font-family: TikTokFont;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

button, input {
  @apply outline-none;
  @apply border-none;
}
